@font-face {
    font-family: K2D_BOLD;
    src: url('../font/K2D/K2D-Bold.ttf');
}

@font-face {
    font-family: KANIT;
    src: url('../font/Kanit/Kanit-Regular.ttf');
}

body{
    background-color: #feffee;

}

/* NAVBAR CSS Start */

 #nav-bar {
    background-color: #0ABAFC; 
    border: 0.25vw solid white; 
    padding: 10px 0;
    text-align: center; 
    border-radius: 1vw 1vw 1vw 1vw; 
    box-shadow: 0 0.5vw 5px rgba(0,0,0,0.2); 
    margin-bottom: 1vw; 
    /* position: fixed;
    width: 98.5vw; */
  }

  #nav-bar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #nav-bar nav ul li {
    display: inline; 
  }

    /* Stylize Text  */
  #nav-bar nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1vw 10vw; 
    text-decoration: none;
    font-family: K2D_BOLD;
    font-size: 1.75cvw;
    transition: background-color 0.3s; 
    border-radius: 1vw 1vw 1vw 1vw; 
    text-shadow: 
    2px 2px 0 #000,  
    -1px -1px 0 #000, 
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000;   
  }
  
   /* Pages when hovered Darken and have Rounded Corners */
  #nav-bar nav ul li a:hover {
    background-color: #0984c4;
    border-radius: 1vw 1vw 1vw 1vw;
  }

/* NAVBAR CSS End*/


/* Title CSS Start*/

#title {
    background-color: #FC9F5B; 
    border: 0.25vw solid white; 
    text-align: center; 
    border-radius: 1vw 1vw 1vw 1vw; 
    height: 14vw;
    margin: auto;
    width: 50vw; 
    box-shadow: 0 0.5vw 5px rgba(0,0,0,0.2); 
  }

  #title h1 {
    margin-top: 0.75vw; 
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: K2D_BOLD;
    font-size: 4.5vw;
    width: 45vw;
    border-radius: 1vw 1vw 1vw 1vw; 
    text-shadow: 
    2px 2px 0 #000,  
    -1px -1px 0 #000, 
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000;   
}

/* Title CSS End*/